node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.cache
dist
dist-electron
release
*.ts
!*.d.ts
src
electron
tsconfig*.json
vite.config.ts
.DS_Store
